.hidden {
  display: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.search-form {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.search-form input {
  width: 250px;
  margin-right: 10px;
  padding: 10px 15px;

  border-radius: 5px;
}

.search-form button {
  width: 100px;
  height: 35px;
  padding: 5px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}

.search-form button:hover,
.search-form button:focus {
  cursor: pointer;
}

.photo-card img {
  position: relative;
  z-index: 100;

  display: block;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  list-style: none;
}

.list__item {
  margin: 15px;
}

.photo-card {
  position: relative;
  overflow: hidden;
}

.photo-card:hover {
  cursor: pointer;
}

.list__item a:hover .stats,
.list__item a:focus .stats {
  top: 216px;
}

.stats {
  position: absolute;
  top: 250px;
  z-index: 200;

  display: flex;
  justify-content: space-around;
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: rgba(211, 211, 211, 0.8);

  transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.stats-item {
  display: flex;
  align-items: center;
}

.stats-item i {
  margin-right: 10px;
}

.material-icons.md-48 {
  position: fixed;
  bottom: 100px;
  z-index: 999;

  font-size: 48px;
}
